<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[TEST] ILM Statistics</title>
</head>
<body>

    <h1>ILM Statistics</h1>

    <h2>Users</h2>
    <p>{{ .Users }} users, {{ .Accounts }} accounts - average of {{ .AverageAccountsPerUser }} accounts/user</p>

    {{ if .IsActivity }}

        <h2>Number of tests started in each hour</h2>

        {{ range $key, $value := .Hours }}
                <li>{{ $key }}:00 - {{ $key }}:59 : {{ $value }}</li>
        {{ end }}

        <h2>Busiest time(s) of the day:</h2>
        {{ range $hr := .BusiestHours }}
            <li>{{ $hr }}:00 - {{ $hr }}:59</li>
        {{ end }}

    <h2>Most executed project(s)</h2>
    The most executed project(s) was (were) ran {{ .MaxProjectPopularity }} times
    <br><br>
    {{ range $projectId, $project := .MostPopularProjects }}
       Project:
        <li> Id: {{ $projectId }}</li>
        <li> Name: {{ $project.Name }}</li>
        <li> Author: {{ $project.Author }}</li>
        <li> Creation time: {{ $project.CreationTime }}</li>
        <li> Last run: {{ $project.LastRunTime }}</li>
        <li> Status: {{ $project.Status }}</li>
        <br><br>
    {{ end }}

    <h2>Images in projects</h2>
    <ol>
    {{ range $image, $projectList := .ImagesInProjects }}
        <li> {{ $image }}</li>
        <ul>
        {{ range $project := $projectList }}
            Project:
            <li> Id: {{ $project.Id }}</li>
            <li> Name: {{ $project.Name }}</li>
            <li> Author: {{ $project.Author }}</li>
            <li> Creation time: {{ $project.CreationTime }}</li>
            <li> Last run: {{ $project.LastRunTime }}</li>
            <li> Status: {{ $project.Status }}</li>
            <br><br>
        {{ end }}
        </ul>
    {{ end }}
    </ol>
    <h2>Projects: success and failure rate</h2>

    {{ range $project := .ProjectsList }}
    Project:
    <li>Id: {{ .Id }}</li>
    <li>Name: {{ .Name }}</li>
    <li>Success rate: {{ (index $.ProjectsSuccess .Id) }}%</li>
    <li>Failure rate: {{ index $.ProjectsFailure .Id }}%</li>

    <br><br>
    {{ end }}

    <h2>Most used tag(s)</h2>
    {{ range $image := .MostUsedImages}}
    <li>{{ $image }} - {{ $.MostUsedImageOccurence }}</li>
    {{ end }}

    <h2>Least used tag(s)</h2>
    {{ range $image := .LeastUsedImages}}
    <li>{{ $image }} - {{ $.LeastUsedImageOccurence }}</li>
    {{ end }}

    <h2>Other stats</h2>
    <p>Overall {{.Tests}} tests, {{.Projects}} projects - average of {{.AverageTestsPerProject}} tests/project</p>
    <p>Overall {{.Images}} images, {{.Projects}} projects - average of {{.AverageImagesPerProject}} images/project</p>
    <p>Overall success rate of projects in ILM: {{.SuccessRate}}%</p>
    <p>Overall failure rate of projects in ILM: {{.FailureRate}}%</p>

    {{ end }}

</body>
</html>