<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ILM Statistics</title>
</head>
<body style="font-family: sans-serif">

    <h1>ILM Statistics</h1>

    <h2>Overview</h2>

    Projects
    <table>
    <tr>
    <td>Success rate:</td><td> {{.SuccessRate}}%</td>
    </tr>
    <tr>
    <td>Failure rate:</td><td> {{.FailureRate}}%</td>
    </tr>
    </table>
    <br>

    
    {{.Images}} images, {{.Tests}} tests, {{.Projects}} projects
    <table>
    <tr>
        <td>In average</td><td>{{.AverageImagesPerProject}}</td><td> images/project</td>
        </tr>
        <tr>
        <td>In average</td><td> {{.AverageTestsPerProject}}</td> <td>tests/project</td>
        </tr>
    </table>


    <hr>

    <h2>Projects</h2>
    <h3>Projects: success and failure rate</h3>
    
    <table border="1">
    <tr>
    	<th>Project</th>
    	<th>Success rate</th>
    	<th>Failure rate</th>
    </tr>
    {{ range $project := .ProjectsList }} 
    <tr>
    	<td>{{ .Name }} [{{ .Id }}]</td>
    	<td>{{ (index $.ProjectsSuccess .Id) }}%</td>
    	<td>{{ index $.ProjectsFailure .Id }}%</td>
    </tr>
    {{ end }}
    </table>

    <br>

    <h3>Most executed project</h3>
    The most executed project was ran {{ .MaxProjectPopularity }} times
    <br><br>
    {{ range $projectId, $project := .MostPopularProjects }}
    <table>
    <tr>
       	<td>Project</td>
       	<td>{{ $project.Name }} [{{ $projectId }}]</td>
   	</tr>
    <tr>
    	<td>Creation time:</td>
    	<td>{{ $project.CreationTime }}</td>
    </tr>
    <tr> 
    	<td>Status:</td>
    	<td>{{ $project.Status }}</td>
    </tr>
    
    </table>
    {{ end }}
    <br>

    <hr>

    <h2>Images</h2>
    <h3>Overall number of tags applied: {{ .NumberOfImages }}</h3>
    <h3>Most used tags</h3>
    
    <table border="1">
    <tr>
    <th>Image</th>
    <th>Occurences</th>
    </tr>
    {{ range $image := .MostUsedImages}}
    <tr>
    	<td>{{ $image }}</td>
    	<td>{{ $.MostUsedImageOccurrence }}</td>
    </tr>
    {{ end }}
    </table>
    

    <h3>Least used tags</h3>
    
    <table border="1">
    <tr>
    	<th>Image</th>
    	<th>Occurences</th>
    </tr>
    {{ range $image := .LeastUsedImages}}
    <tr>
    	<td>{{ $image }}:</td>
    	<td>{{ $.LeastUsedImageOccurrence }}</td>
    </tr>
    {{ end }}
    </table>
    

    <h3>Occurrences of images in projects</h3>
    <ol>
        {{ range $image, $projectList := .ImagesInProjects }}
        <li> {{ $image }}</li>
        <ul>
            {{ range $project := $projectList }}
            <table>
            <tr> 
            	<td>Project:</td>
            	<td>{{ $project.Name }} [{{ $project.Id }}]</td>
            </tr>
            <tr> 
            	<td>Creation time:</td>
            	<td>{{ $project.CreationTime }}</td>
            </tr>
            <tr> 
            	<td>Status:</td>
            	<td>{{ $project.Status }}</td>
            </tr>
            </table>
            <br>
            {{ end }}
        </ul>
        {{ end }}
    </ol>

    <hr>

    <h2>Tests</h2>
    <h2>Most executed tests</h2>
    <table border="1">
    <tr>
    	<th>Id</th>
    	<th>Name</th>
    	<th>Executions</th>
    </tr>
    {{ range $test := .MostExecutedTests }}
    <tr>
    	<td>[{{ .Id }}]</td>
    	<td>{{ .Name }}</td>
    	<td>{{ $.MostExecutedTestsNr }}</td>
    </tr>
    {{ end }}
    </table>
    <br>

    <h2>Least executed tests</h2>
    <table border="1">
    <tr>
    	<th>Id</th>
    	<th>Name</th>
    	<th>Executions</th>
    </tr>
    {{ range $test := .LeastExecutedTests }}
    <tr>

    	<td>[{{ .Id }}]</td>
    	<td>{{ .Name }}</td>
    	<td>{{ $.LeastExecutedTestsNr }}</td>
    </tr>
    {{ end }}
    </table>
    <br>

    <hr>


    {{ if .IsActivity }}
    <h2>Today's user activity</h2>
    <h3>Number of tests started in each hour</h3>

	<table>
    {{ range $key, $value := .Hours }}
    <tr>
    	<td>{{ $key }}:00 - {{ $key }}:59 :</td>
    	<td>{{ $value }}</td>
    </tr>
    {{ end }}
    </table>

    <br>
    <b>Busiest times of the day:</b>
    {{ range $hr := .BusiestHours }}
    <li>{{ $hr }}:00 - {{ $hr }}:59</li>
    {{ end }}

    <hr>
    {{ end }}

    <h2>Per user views </h2>
    {{ range $mac, $statsPerUserList := .StatisticsPerUsers }}
    <h3>User <b>{{ $mac }}</b></h3>
    {{ range $stat := $statsPerUserList }}
    <h4><p>At {{ .Day }}, {{ .NoOfVulnerabilities }} vulnerabilities have been found in {{ .NoOfImages }} the tested images</p></h4>

    <table border="1">
    <tr>
    	<th>Image</th>
    	<th>Vulnerabilities</th>
    </tr>
    {{ range $image, $noOfVulnerabilities := .Vulnerabilities }}
    <tr>
    	<td>{{ $image }}</td>
    	<td>{{ $noOfVulnerabilities }}</td>
    </tr>
    {{ end }}
    </table>
    {{ end }}
    {{ end }}

</body>
</html>